body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #3065AC;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px; 
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px; 
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="file"],
select,
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/* Media Queries */
@media (max-width: 600px) {
    .container {
        padding: 15px;
        width: 95%;
    }

    h1 {
        font-size: 20px;
    }

    label {
        font-size: 12px;
    }

    input,
    select,
    textarea,
    button {
        font-size: 14px;
        padding: 8px;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .container {
        padding: 20px;
        width: 90%;
    }

    h1 {
        font-size: 22px;
    }

    label {
        font-size: 13px;
    }

    input,
    select,
    textarea,
    button {
        font-size: 15px;
        padding: 9px;
    }
}